:root {
	--cyan: #00bcd4;
	--cyan-800: #00838f;
	--dark-grey: #212121;
	--deep-purple: #7c4dff;
	--deep-purple-50: #ede7f6;
	--deep-purple-100: #d1c4e9;
	--deep-purple-800: #4527a0;
	--green: #4caf50;
	--grey: #727272;
	--indigo: #3f51b5;
	--light-blue: #03a9f4;
	--light-green: #8bc34a;
	--light-green-800: #558b2f;
	--light-grey: #b6b6b6;
	--lime: #cddc39;
	--pink: #ff4081;
	--pink-800: #ad1457;
	--purple: #9c27b0;
	--teal: #009688;
	--white: #f5f5f5;
	--yellow: #ffeb3b;
	--yellow-800: #f9a825;
	--primary-text: #212121;
	--secondary-text: #757575;
	--grey-50: #fafafa;
	--grey-100: #f5f5f5;
	--grey-200: #eeeeee;
	--grey-300: #e0e0e0;
}
