:root {
	--cyan: #00bcd4;
	--dark-grey: #212121;
	--green: #4caf50;
	--grey: #727272;
	--light-blue: #03a9f4;
	--light-green: #8bc34a;
	--light-grey: #b6b6b6;
	--lime: #cddc39;
	--pink: #ff4081;
	--white: #f5f5f5;
	--yellow: #ffeb3b;
}
