pre,
.highlight {
  color: var(--primary-text);
  @nest & .string {
    color: var(--yellow-800);
  }
  @nest & .comment {
    color: var(--grey);
  }
  @nest & .keyword {
    color: var(--pink-800);
  }
  @nest & .built_in {
    color: var(--cyan-800);
  }
  @nest & .number, .literal {
    color: var(--deep-purple-800);
  }
  @nest &.bash {
    @nest & .shebang {
      color: var(--grey);
    }
    @nest & .variable {
      color: var(--light-grey);
    }
    @nest & .title {
      color: var(--light-green-800);
    }
  }
}

.gutter pre {
  color: var(--secondary-text);
}
