pre,
.highlight {
  color: var(--white);
  font-family: 'Roboto Mono', monospace;
  font-size: 0.93em;
  line-height: 1.2em;
  @nest & .string {
    color: var(--yellow);
  }
  @nest & .comment {
    color: var(--grey);
  }
  @nest & .keyword {
    color: var(--pink);
  }
  @nest & .built_in {
    color: var(--cyan);
  }
  @nest & .number, .literal {
    color: var(--deep-purple);
  }
  @nest &.bash {
    @nest & .shebang {
      color: var(--grey);
    }
    @nest & .variable {
      color: var(--light-grey);
    }
    @nest & .title {
      color: var(--light-green);
    }
  }
}

.gutter pre {
  color: var(--secondary-text);
}
