pre,
.highlight {
  color: var(--white);
  @nest & .string {
    color: var(--yellow);
  }
  @nest & .comment {
    color: var(--grey);
  }
  @nest & .keyword {
    color: var(--pink);
  }
  @nest & .built_in {
    color: var(--cyan);
  }
}
