app-drawer-layout > #contentContainer:not(.narrow) {
  margin-left: 0 !important;
  @nest & + app-drawer {
    visibility: hidden !important;
  }
}

app-drawer-layout > .narrow {
  @nest & paper-tabs {
    display: none !important;
  }
}

paper-toolbar {
  @nest & a {
    color: white;
    text-decoration: none;
  }
  @nest & paper-tabs {
    height: 100%!important;
    @nest & paper-tab {
      text-transform: uppercase;
      @nest &[link] a {
        padding: 0 1em;
      }
    }
  }
}
