app-drawer-layout > #contentContainer:not(.narrow) {
  margin-left: 0 !important;
  @nest & + app-drawer {
    visibility: hidden !important;
  }
}

app-drawer-layout > .narrow {
  @nest & paper-tabs {
    display: none !important;
  }
}

app-header {
  color: #fff;
  background-color: var(--deep-purple);
  @nest & #backgroundFrontLayer {
    background-position: center center;
    @nest &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(25,25,25,.5);
    }
  }
}

app-toolbar {
  @nest &.middle {
    height: 10em;
  }
  @nest &.bottom {
    height: 4em;
  }
  @nest & a {
    color: white;
    text-decoration: none;
  }
  @nest & [title] {
    position: absolute;
    margin-left: 2em;
    font-size: 1.6em;
    font-weight: 300;
  }
  @nest & [condensed-title] {
    margin-left: 1.2em;
    font-weight: 300;
  }
  @nest & paper-tabs {
    height: 100%!important;
    @nest & paper-tab {
      text-transform: uppercase;
      @nest &[link] a {
        padding: 0 1em;
      }
    }
  }
  @nest & paper-listbox a{
    color: var(--dark-grey);
  }
}
