:root {
  --darken-image: {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(25,25,25,.5);
  };
}

app-drawer-layout > #contentContainer:not(.narrow) {
  margin-left: 0 !important;
  @nest & + app-drawer {
    visibility: hidden !important;
  }
}

app-drawer-layout > .narrow {
  @nest & paper-tabs {
    display: none !important;
  }
}

app-header {
  color: #fff;
  background-color: var(--deep-purple);
  @nest & #backgroundFrontLayer {
    background-position: center center;
    @nest & carousel-slide.cover-bg:before {
      @apply --darken-image;
    }
    @nest &:before {
      @apply --darken-image;
    }
  }
}

app-toolbar {
  @nest &.middle {
    height: 10em;
  }
  @nest &.bottom {
    height: 4em;
  }
  @nest & a {
    color: white;
    text-decoration: none;
  }
  @nest & [main-title] {
    position: absolute;
    margin-left: 2em;
    font-size: 1.6em;
    font-weight: 300;
    @nest & a {
      pointer-events: auto;
    }
  }
  @nest & [condensed-title] {
    max-width: 0px;
  }
  @nest & paper-tabs {
    height: 100%!important;
    @nest & paper-tab {
      text-transform: uppercase;
      @nest &[link] a {
        padding: 0 1em;
      }
    }
  }
}

@custom-selector :--narrow-elements p, table, header, h1, h2, h3, h4, h5, h6, .narrow-element;

:--narrow-elements {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  @nest &.extra {
    max-width: 1380px;
    @nest & * {
      max-width: 100%;
    }
  }
}

.highlight {
  padding: .4em 0;
  @nest & .gutter {
    width: 1.3em;
    text-align: right;
  }
  @nest & .code {
    padding-left: 1.4em;
  }
}

.archives-wrap {
  padding: 6em 0;
  @nest &:nth-child(3n+0) {
    background-color: var(--deep-purple-50);
  }
  @nest &:nth-child(3n+2) {
    background-color: var(--deep-purple-100);
  }
  @nest & h1 {
    text-align: center;
    padding-bottom: .8em;
  }
}

colos-grid .post {
  padding: .7em;
}

paper-card {
  width: 100%;
  @nest & h1 {
    text-align: left!important;
    margin-bottom: 0.8em;
  }
  @nest & .meta span:not(:first-of-type) {
    margin-left: .6em;
  }
}

.pagination a {
  @nest &:first-child {
    float: left;
  }
  @nest &:last-child {
    float: right;
  }
}

footer {
  color: #fff;
  background-color: var(--primary-text);
}
