:root {
  --highlight-font-size: 0.83em;
  --highlight-line-height: 1.2em;
}

@custom-selector :--selected :hover, :focus, :active;

body {
  font-family: 'Roboto', sans-serif;
}

.post-content {
  color: var(--primary-text);
  line-height: 1.6;
  font-size: 1.25em;
  font-weight: 300;
  @nest & p {
    margin-bottom: 1em;
  }
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.6em;
}

h5 {
  font-size: 1.4em;
}

h6 {
  font-size: 1.2em;
}

blockquote {
  font-size: 1.4em;
  color: var(--deep-purple);
  @nest & p {
    margin-top: 1em;
    @nest & a {
      text-decoration: underline;
    }
    @nest &:before {
      content:"\201C";
    }
    @nest &:after {
      content:"\201D";
    }
  }
}

app-toolbar a:--selected {
  color: var(--deep-purple-100);
}

a {
  color: var(--deep-purple);
  text-decoration: none;
  @nest &:--selected {
    color: var(--deep-purple-800);
  }
}

.archives-wrap .archive-year {
  text-decoration: none;
  color: var(--primary-text);
  @nest &:--selected {
    color: var(--secondary-text);
  }
}

.post-category {
  text-transform: capitalize;
}

.post-date {
  color: var(--secondary-text);
}

paper-card {
  font-weight: 300;
  @nest & h1 {
    font-size: 1.6em;
    font-weight: 400;
    padding-top: .2em;
    @nest & a {
      color: var(--primary-text);
    }
  }
}

pre,
.highlight {
  font-family: 'Roboto Mono', monospace;
  font-size: var(--highlight-font-size);
  line-height: var(--highlight-line-height);
  @nest & .line {
    height: var(--highlight-line-height);
  }
}
