:root {
  --highlight-font-size: 0.83em;
  --highlight-line-height: 1.2em;
}

@custom-selector :--selected :hover, :focus, :active;

body {
  font-family: 'Roboto', sans-serif;
}

.post-content {
  color: var(--primary-text);
  line-height: 1.6;
  font-size: 1.25em;
  font-weight: 300;
  @nest & p {
    margin-bottom: 1em;
  }
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.6em;
}

h5 {
  font-size: 1.4em;
}

h6 {
  font-size: 1.2em;
}

.archives-wrap .archive-year {
  text-decoration: none;
  color: var(--primary-text);
  @nest &:--selected {
    color: var(--secondary-text);
  }
}

pre,
.highlight {
  font-family: 'Roboto Mono', monospace;
  font-size: var(--highlight-font-size);
  line-height: var(--highlight-line-height);
  @nest & .line {
    height: var(--highlight-line-height);
  }
}
