/*
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
/* HTML5 display-role reset for older browsers */article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}h1,h2,h3,h4,h5,h6{color:rgba(0,0,0,.9)}paper-drawer-panel:not([narrow]) #main{left:0!important}paper-drawer-panel:not([narrow]) #drawer{width:0!important}paper-drawer-panel[narrow] paper-tabs{display:none}paper-toolbar a{color:#fff;text-decoration:none}paper-toolbar paper-tab{text-transform:uppercase}paper-toolbar paper-tab[link] a{padding:0 1em}.highlight,pre{background:#212121;color:#f5f5f5}.highlight .string,pre .string{color:#ffeb3b}.highlight .comment,pre .comment{color:#727272}.highlight .keyword,pre .keyword{color:#ff4081}.highlight .built_in,pre .built_in{color:#00bcd4}.highlight .number,.literal,pre .number{color:#7c4dff}.highlight.bash .shebang,pre.bash .shebang{color:#727272}.highlight.bash .variable,pre.bash .variable{color:#b6b6b6}.highlight.bash .title,pre.bash .title{color:#8bc34a}