/* custom properties */

/* custom selectors */

/* usage */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
  color: rgba(0, 0, 0, 0.9);
}

pre,
.highlight {
  background: #2e2e2e;
  color: #ddd;
  line-height: 0.8em;
}
