:root {
  --heading-color: color(black alpha(-10%));
}

@import partial/colors;

@custom-selector :--headings h1, h2, h3, h4, h5, h6;

:--headings {
  color: var(--heading-color);
}

@import partial/code;
@import partial/highlight;
